@import "~normalize.css";
@import "fonts.css";

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    color: maroon;
    text-align: center;
    font-size: 28px;
 }

 .logo {
     background: url("../assets/js-logo.png");
     background-size: cover;
     height: 200px;
     width: 200px;
     margin: 0 auto;
 }